	@font-face {
	  font-family:"test";
	  src: url("Poppins-Light.ttf") format("truetype");
	}

	@font-face {
	  font-family:"bold";
	  src: url("Poppins-Bold.ttf") format("truetype");
	}


	html, body{
		padding : 0px;
		margin : 0px;
		overflow-x: hidden
	}

	*{
		font-family: "test"
	}

	#backdrop{
		height: 100vh;
		width: 100vw;
		background-image: url("background.png");
	}

	#menu_color{
		height: 130px;
		width: 100vw;
		opacity: 0.9;
		background-color: #05222b;
		position: absolute;
		top: 0px;
	}

	#desktop_navigation_bar{
		position: absolute;
		top: 0px;
		color: white;
		width: 100vw
	}

	#desktop_navigation_bar_left{
		width: 360px;
		margin-left: 150px;
		height: 130px;
		float: left;
	}

	#desktop_navigation_bar_image{
		height: 30px;
		margin-top: 50px;
		float: left
	}

	#desktop_navigation_bar_name{
		float: left;
		margin-left: 2px;
		line-height: 130px;
		font-size: 24px;
		color: white
	}

	.menu_action{
		width: 100px;
		float: left;
		line-height: 130px;
		font-size: 14px;
		color: white
	}
	#register{
		height: 50px;
		background-color: white;
		width: 120px;
		margin-top: 40px;
		line-height: 50px;
		border-radius: 4px;
		text-align: center;
		color: #1c1c1c
	}
	

	.menu_action:hover{
		font-weight: bold
	}

	.result_card{
		width: calc(100vw - 300px);
		height: 160px;
		box-shadow: 0px 0px 10px lightgrey;
		background-color: white;
		margin: auto;
		font-size: 14px;
		color: #384859;
	}

	.result_card_score{
		border-left: 1px solid #e3e2e2;
		width: 100px; float: left;
		text-align: center;
		height: calc(100% - 20px);
		padding: 10px;
		float: left;
		margin-bottom: 20px;
	}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
}