	@font-face {
	  font-family:"test";
	  src: url("Poppins-Light.ttf") format("truetype");
	}

	@font-face {
	  font-family:"bold";
	  src: url("Poppins-Bold.ttf") format("truetype");
	}


	html, body{
		padding : 0px;
		margin : 0px;
		overflow-x: hidden
	}

	*{
		font-family: "test"
	}
/*#05222b;*/

.menu_action, a{
	text-decoration: none;
	color: white;
}

.menu_action{
	float: left;
	width: 22%;
	text-align: center;
	font-size: 12px;
}