
body, html{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	color: white;
	background-color: #000000;
	overflow-x: hidden
}

#navigation_bar{


	height: 120px;
	/*background-color: white;*/
	width: 100vw;
}

.option{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
	font-size: 14px;
	width: 120px;
}


.main_option{
	float: left;
	height: 40px;
	line-height: 30px;
	margin-top: 40px;
	font-size: 14px;
	width: 120px;
	width: 700px;
	font-size: 32px;
	text-indent: 50px
}


.option:hover{
	font-weight: bold;
	cursor: pointer;
}

.page{
	height: calc(100vh - 0px);
	width: 100vw;
	overflow: hidden;

}

.section{
	padding-top: 40px;
	height: 300px;
	border-bottom: 1px solid lightgrey;
}

.left{
	width: 50vw;
	float: left
}

.right{
	width: 50vw;
	float: left
}


.right_inner{
width: 60%; text-align: left;
}
.left_inner{
	width: 60%; text-align: right; margin-left: 20%
}

tr:hover{
	background-color: #efefef
}

@media only screen and (max-width: 1000px) {


	body{
		background-color: black
	}
	.section{
		height : auto;
		padding-bottom: 20px;
	}
	.right{
		float: none;
		text-align: center;
		width: 100vw;
	}
	.left{
		float: none;
		text-align: center;
		width: 100%;
		}

	.right_inner{
		margin: auto
	}
	.left_inner{
		margin: auto;
		text-align: center;
	}

	#navigation_bar{
	display: none;
	height: 100vh;
	}
	.main_option{
		display: none;
	}

	.option{
		width: 80%;
		text-indent: 25px;
		margin-right: 25px;
		text-align: left;
	}

	h2{
		width: 70%;
		text-align: center;
		margin: auto;
	}

	.mobile_nav_bar{
		width: 100vw; 
		height: 50px;
		background-color: black;
		display: block;
	}
	#mobile_view{
		display: block;
	}

	#desktop_view{
		display: none;
	}

}

@media only screen and (min-width: 1000px) {
	.mobile_nav_bar{
	display: none;
	}
	#mobile_view{
		display: none;
	}

	#desktop_view{
		display: block;
	}
}

a{
	color: #2DA3D6;
	text-decoration: underline;
}

